<input [(ngModel)]="searchTerm" (input)="search()" placeholder="Search by name">

<br/>
<br/>

<select [(ngModel)]="selectedField">
    <option value="balance">Balance</option>
    <option value="financialAid">Financial Aid</option>
    <option value="tuition">Tuition</option>
    <option value="fees">Fees</option>
    <option value="scholarships">Scholarships</option>
  </select>
  
  <input type="radio" [(ngModel)]="comparison" value="less" name="comparison"> Less than
  <input type="radio" [(ngModel)]="comparison" value="equal" name="comparison"> Equal to
  <input type="radio" [(ngModel)]="comparison" value="greater" name="comparison"> Greater than
  
  <input [(ngModel)]="filterValue" (input)="filter()" placeholder="Filter value">
  
  <br/>
<br/>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Financial Aid</th>
        <th>Tuition</th>
        <th>Fees</th>
        <th>Scholarships</th>
        <th></th> <!-- Add an extra table header column -->
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of filteredStudents; let i = index">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.balance }}</td>
        <td>{{ student.financialAid }}</td>
        <td>{{ student.tuition }}</td>
        <td>{{ student.fees }}</td>
        <td>{{ student.scholarships }}</td>
        <td> <!-- Add an extra table cell -->
          <button (click)="editStudent(student)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  

  <br />
  <br />
  <br />
  
  <div *ngIf="selectedStudent">
    <h2>Edit Student</h2>
    <form (submit)="onSubmit()" name="editStudentForm">
      <!-- Add form fields for editing student data -->
      <label>
        Name:
        <input [(ngModel)]="selectedStudent.name" name="name" required />
      </label>
      <label>
        Balance:
        <input [(ngModel)]="selectedStudent.balance" name="balance" required />
      </label>
      <label>
        Financial Aid:
        <input [(ngModel)]="selectedStudent.financialAid" name="financialAid" required />
      </label>
      <label>
        Tuition:
        <input [(ngModel)]="selectedStudent.tuition" name="tuition" required />
      </label>
      <label>
        Fees:
        <input [(ngModel)]="selectedStudent.fees" name="fees" required />
      </label>
      <label>
        Scholarships:
        <input [(ngModel)]="selectedStudent.scholarships" name="scholarships" required />
      </label>
      <!-- Add more form fields for other properties if necessary -->
      <button type="submit">Save</button>
    </form>
  </div>
  

  
  